html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background: whitesmoke;
  height: 100%;
}
body {
  margin: 10px;
  padding: 10px;
}

h1 {
  color: black transparent;
}

h2 {
  color: black transparent;
}

canvas {
  border: 1px solid black;
  background: white;
}

#start_button {
  font-size: large;
  background-color: white;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: red;
  border: solid 2px red;
  border-radius: 3px;
  transition: .4s;
}

#canvas_lapper {
  width: 500px;
}